@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

/* Fonts */
* {
  font-family: 'Lato';
  box-sizing: border-box;
}

.nav-brand, h1, .card-title {
  font-family: 'Karla';
}

h1 {
  font-weight: 700;
  font-size:3em
}

p, .card-title, .card-text {
  font-weight: 400;
}

.footer-credits {
  font-weight: 300;
}

.nav {
  background-color: white;
  height:6em;
}

.nav-item {
  color:white;
}
/* Home Page */

.landing-pic{
  /* text-align: center;
  width: 1366px;
  height: 768px; */
  /* background: rgb(233,196,106);
  background: linear-gradient(180deg, rgba(233,196,106,1) 0%, rgba(244,162,97,1) 81%); */
  background: #FCCCBD; 
  height: 1300px;
  width: 100%;
}

.title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.statement {
  top: 50px;
  height: 200px;
  line-height: 280px;
  text-align: center;
  margin: auto;
  width: 80%;
  /* padding: 10px; */
  position: relative;
  border: 3px solid #212529;
}

/* .extra-space {
  position: relative;
  height: 1000px;
  background: white;
} */

.story-title{
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

.earls-image{
  position: relative;
  top: 180px;
  width: fit-content;
  /* left: 50%; */
  margin: 0 auto;
}

.story-text{
  position: relative;
  top: 190px;
  padding: 5px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: large;
}

.more-stories{
  position: relative;
  top: 270px;
  font-size: 24px;
  padding: 5px;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.link{
  position: relative;
  top: 270px;
  font-size: 24px;
  padding: 5px;
  width: 40%;
  display: block; 
  text-align: center;
  margin: 0 auto;
  left: auto;
  color: #264653;
}

/* Stories */

/* Jumbotron Styling */



/* filters */
.filter-neighborhoods, .filter-tags, .reset-btn {
  padding: .1em !important;

}

.reset-btn {
  margin-top:.75em;
}

.bg-img {
  background-image: url(../img/bg.png);
  background-position: -4em -1em;
  background-size: 90em 30em;
  background-repeat: no-repeat;
}

.dinein-img-col {
  padding: 0 !important;

}
.dine-in-img {
  margin-top: 2em;
  margin-left: 5em;
  width: 35em;
  display:none;
}




.search-restaurants-banner-contents{
  margin-left:3em;
}

.bg-text {
  color:white;
  margin-top: 1em;
}


.sticky-popup {
  position: sticky;
  bottom: 0;
}

/* Pop up Accordian card */

.how-to-help {
  display:none;
}

.how-to-help-card {
  height:25em;
}

.carousel-indicators li {
  display: none;
}

.MuiTypography-body2 {
  width:20em;
}

/* Restaurant Row Styling */
.restaurant-row {
  width:22em;
  height:24em;
  float: none; 
  margin: 0 auto;
  margin-bottom: 1em;
}

.reset {
  vertical-align: baseline;
  color:white;
}

.preview-carousel {
  width:20em;
  float: none; 
  margin: 0 auto;
  margin-bottom: 1em;
}

.restaurant-preview-imgs {
  object-fit: cover;
  width:20em;
  height:13em;
  border-radius: 2%;
}

.restaurant-row:hover {
  cursor: pointer;
}

/* Restaurant Profile Modal */


/* restaurant contact card */
.modal-carousel {
  width:27em;
  height:16.5em;
}

.restaurant-contact-info {
  height:16.5em;
}

.restaurant-name, .restaurant-year, .restaurant-number, .restaurant-address{
  margin-bottom: .3em;
}

.restaurant-tags {
  margin-bottom: 1em;
}

.tag {
  margin-right:.3em;
  margin-bottom:.4em;
}

.icons {
  margin-right: .5em;
}

.restaurant-contact-info {
  margin-bottom: 1em;
}


/* photo gallery */
.restaurant-imgs {
  width: 26em;
  height:15em;
  object-fit: cover;
  border-radius: 2%;
}

/* story contents */
.story-credits {
  font-style: italic;
}

.story-content {
  padding-bottom: 1.5em;
}

/* FOOTER */
.footer-content {
  margin-left: 3em;
}

.footer-title {
  font-size: 1em;
  margin-bottom: .75em;
  font-weight: bold;
}

/* hr styling */
hr {
  margin-bottom: 2em;
}

.footer-credits-divider, .footer-credits {
  margin-left: -1em;
}

/* footer links */
.links {
  list-style-type:none;
  padding-left: 0;
}

.links li {
  margin-bottom:.75em;
}

.links li a {
  color: #212529;
  
}

/* END FOOTER */


@media (min-width: 750px) {

  .restaurant-row {
    width:45em;
    height:15em;
    margin: 0 3em;
    float: left;
    margin-bottom: 1em;
  }

  .preview-carousel {
    width:18em;
    margin-bottom: 0em;
  }

  .restaurant-preview-imgs {
    width:18em;
    height:13em;
  }
}

@media (min-width: 1200px) {

  .restaurant-row {
    width:55em;
  }

  .preview-carousel {
    width:20em;
  }

  .restaurant-preview-imgs {
    width:20em;
    height:13em;
  }

  .restaurant-imgs {
    width:18em;
    height:16.5em;
  }

  .how-to-help {
    display: block;
  }
}

@media (min-width: 1290px) {
  .dine-in-img {
    display: block;
  }
}
