.nav {
  background-color: #E9C46A;
  height:6em;
}

.nav-item {
  color:white;
}

/* Stories */
.search-restaurants-bg {
  margin: 0em;
  overflow: auto; 
  background-color: #212529;
}
.search-restaurants-banner {
  width:60em;
}

.stories-content {
  height: 37em;
}

.bg-text {
  color:white;
}

.seattle-map {
  background-image: url("https://cdn.mos.cms.futurecdn.net/eYBxQhBCLvzwGN5Fh8Jsyg-970-80.jpg");
  background-size: 40em 50em;
  max-height: 40em;
  background-position-y: -10em;
  background-repeat: no-repeat;
  margin-left: 0em;
}



/* FOOTER */
.footer-content {
  margin-left: 3em;
}

.footer-content-divider {
  margin-top: 0em;
}

.footer-title {
  font-size: 1em;
  margin-bottom: .75em;
  font-weight: bold;
}

/* hr styling */
hr {
  margin-bottom: 2em;
}

.footer-credits-divider {
  margin-left: -1em;
}

.footer-credits {
  margin-left: -2em;
}

/* footer links */
.links {
  list-style-type:none;
  padding-left: 0;
}

.links li a {
  color: #212529;
}

/* END FOOTER */